<linha>
    <td width=151 valign=top style='width:113.15pt;border:solid windowtext 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
        {{dataVencimento}}
    </td>

    <td width=624 valign=top style='width:170pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
        {{Credor}}
    </td>
    <td width=155 valign=top style='width:116.45pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
        {{TipoConta}}
    </td>
    <td width=155 valign=top style='width:116.45pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
        {{Banco}}
    </td>
    <td width=155 valign=top style='width:170pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
        {{Controle}}
    </td>
    <td width=155 valign=top align="right" style='width:116.45pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
        {{Valor}}
    </td>
    <td width=155 valign=top align="center" style='width:116.45pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
        {{Status}}
    </td>


</linha>